/* =============== VARIABLES ===============  */
:root {
  --clr-primary-200: #12984120;
  --clr-primary-300: #A8FF53;
  --clr-primary-400: #129840;
  --clr-gredient:linear-gradient(270deg, #33A381 0%, #129840 100%);
  --clr-secondary-400: #B4519E;
  --clr-neutral-0: #ffffff;
  --clr-neutral-50: #f5f5f5;
  --clr-neutral-100: #E9E9EA;
  --clr-neutral-200: #BCBCBE;
  --clr-neutral-300: #8F8F92;
  --clr-neutral-400: #79797C;
  --clr-neutral-500: #5E5E65;
  --clr-neutral-600: #3B3B41;
  --clr-neutral-700: #2A2A31;
  --clr-neutral-800: #24242D;
  --clr-neutral-900: #272730;
  --clr-neutral-1000: #1F1F24;
  --clr-primary:var(--clr-primary-400);
  --clr-bg: var(--clr-neutral-0);
  --card-bg: var(--clr-neutral-0);
  --skill-logo-bg: var(--clr-neutral-50);
  --card-border:var(--clr-primary-200);
  --clr-text: var(--clr-neutral-1000);
  --clr-text-500:var(--clr-neutral-500);
  --radius-400:0.8rem;
}

body.dark-mode {
  --clr-bg: var(--clr-neutral-1000);
  --card-bg: var(--clr-neutral-900);
  --skill-logo-bg:var(--clr-neutral-800);
  --card-border: var(--clr-neutral-600);
  --clr-text: var(--clr-neutral-50);
  --clr-text-500: var(--clr-neutral-100);
  --clr-primary:var(--clr-primary-300);
  --clr-gredient:linear-gradient(270deg, #659932 0%, #A8FF53 100%);
}

/* box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*reset font sizes of all tags*/
* {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

/* reset font size 1rem to 10px */
html {
  font-size: 62.5%;
}

body, html {
  height: 100%;
}

/* remove default margin */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set core body defaults */
body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

/* a elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* make images easier to work with */
img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

/* avoid text overflows */
p, span, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
}

/* remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--clr-bg);
  font-family: "DM Mono", monospace;
  font-weight: 400;
  color: var(--clr-text-500);
  transition: all 300ms;
  text-wrap: balance;
}

.main-heading {
  font-size: 4rem;
  font-weight: 500;
  color: var(--clr-text);
}

@media (min-width: 768px) {
  .main-heading {
    font-size: 5rem;
  }
}
.text-secondary-400 {
  color: var(--clr-secondary-400);
}

.text-primary-400 {
  color: var(--clr-primary);
}

.text-gredient {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: var(--clr-gredient);
}

.rounded {
  border-radius: var(--radius-400) !important;
}

.mode-switch label {
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  border: 1px solid var(--card-border);
  cursor: pointer;
}

.dark-mode .mode-switch label {
  background-color: var(--clr-neutral-700);
}
.dark-mode .mode-switch #moonIcon {
  display: none;
}

body:not(.dark-mode) .mode-switch #sunIcon {
  display: none;
}

button {
  background: transparent;
  border: none;
}

.my-btn {
  font-size: 1.6rem;
  color: var(--clr-text-500);
}
.my-btn::before {
  content: "[ ";
}
.my-btn::after {
  content: " ]";
}

.skills-logo__item {
  background-color: var(--skill-logo-bg);
  border: 1px solid var(--card-border);
  height: 6.2rem;
  aspect-ratio: 1;
  border-radius: var(--radius-400);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .skills-logo__item {
    height: 5.2rem;
  }
  .skills-logo img {
    height: 3.2rem;
    aspect-ratio: 1;
  }
}
.header {
  isolation: isolate;
}
.header__nav-link, .header__social-link, .header__logo-link {
  color: var(--clr-text);
}
.header__nav-link {
  color: var(--clr-text-500);
}

@media (max-width: 991.98px) {
  .header__collapse {
    position: absolute;
    top: calc(100% + 2rem);
    left: -1px;
    width: calc(100% + 2px);
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    flex-direction: column;
    padding: 3rem;
    transition: all 300ms;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    z-index: -1;
  }
  .header__nav-list {
    flex-direction: column;
  }
  .header__social-list {
    margin-top: 3rem;
  }
  .header__toggle-btn {
    background: none;
    border: none;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    gap: 0.8rem;
  }
  .header__toggle-line {
    display: inline-block;
    height: 3px;
    width: 2.6rem;
    border-radius: 5rem;
    background-color: var(--clr-text);
    transition: all 300ms;
    transform-origin: center;
  }
  .header--active .header__collapse {
    visibility: visible;
    opacity: 1;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .header--active .header__toggle-line--1 {
    transform: translateY(5px) rotate(45deg);
  }
  .header--active .header__toggle-line--2 {
    transform: translateY(-6px) rotate(-45deg);
  }
}
.card-box {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
}/*# sourceMappingURL=main.css.map */