/* =============== VARIABLES ===============  */
:root {
  --clr-primary-200: #12984120;
  --clr-primary-300: #62A92B;
  --clr-primary-400: #129840;
  --clr-gredient:linear-gradient(270deg, #33A381 0%, #129840 100%);
  --clr-secondary-400: #B4519E;
  --clr-neutral-0: #ffffff;
  --clr-neutral-50: #f5f5f5;
  --clr-neutral-100: #E9E9EA;
  --clr-neutral-200: #BCBCBE;
  --clr-neutral-300: #8F8F92;
  --clr-neutral-400: #79797C;
  --clr-neutral-500: #5E5E65;
  --clr-neutral-600: #010101;
  --clr-neutral-700: #2A2A31;
  --clr-neutral-800: #24242D;
  --clr-neutral-900: #1b1b22;
  --clr-neutral-1000: #151518;
  --clr-primary:var(--clr-primary-400);
  --clr-bg: var(--clr-neutral-50);
  --card-bg: var(--clr-neutral-0);
  --skill-logo-bg: var(--clr-neutral-50);
  --card-border:var(--clr-primary-200);
  --clr-text: var(--clr-neutral-800);
  --clr-text-500:var(--clr-neutral-500);
  --radius-300:0.4rem;
  --radius-400:0.8rem;
  --ff-primary: "DM Mono", monospace;
  --ff-secondary: "DM Sans", sans-serif;
  --filter-primary:brightness(0) saturate(100%) invert(61%) sepia(12%) saturate(2683%) hue-rotate(51deg) brightness(94%) contrast(78%);
  --filter-white:brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(101deg) brightness(112%) contrast(101%);
}
:root .is-dark {
  display: none;
}

body.dark-mode {
  --clr-bg: var(--clr-neutral-1000);
  --card-bg: var(--clr-neutral-900);
  --skill-logo-bg:var(--clr-neutral-800);
  --card-border: var(--clr-neutral-700);
  --clr-text: var(--clr-neutral-50);
  --clr-text-500: var(--clr-neutral-200);
  --clr-primary:var(--clr-primary-300);
  --clr-gredient:linear-gradient(270deg, #62A92B 0%, #8ff826 100%);
}
body.dark-mode .is-light {
  display: none;
}
body.dark-mode .is-dark {
  display: inline-block;
}

/* box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*reset font sizes of all tags*/
* {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

/* reset font size 1rem to 10px */
html {
  font-size: 62.5%;
  scroll-padding-top: 8rem;
}

body, html {
  height: 100%;
}

/* remove default margin */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set core body defaults */
body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

/* a elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* make images easier to work with */
img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

/* avoid text overflows */
p, span, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
}

/* remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--clr-bg);
  font-family: var(--ff-secondary);
  font-weight: 400;
  color: var(--clr-text-500);
  transition: all 300ms;
}

.main-heading {
  font-family: var(--ff-primary);
  font-size: 4rem;
  font-weight: 500;
  color: var(--clr-text);
}

.secondary-heading {
  font-family: var(--ff-primary);
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--clr-text);
}

.sub-heading {
  font-family: var(--ff-primary);
  font-size: 1.8rem;
  color: var(--clr-text);
  line-height: 1.2;
  font-weight: 500;
}

.clr-txt {
  color: var(--clr-text);
}

@media (min-width: 768px) {
  .main-heading {
    font-size: 5rem;
  }
  .secondary-heading {
    font-size: 3.5rem;
  }
  .sub-heading {
    font-size: 2rem;
  }
}
.text-secondary-400 {
  color: var(--clr-secondary-400);
}

.text-neutral-800 {
  color: var(--clr-text);
}

.text-primary-300 {
  color: var(--clr-primary-300);
}

.text-primary-400 {
  color: var(--clr-primary);
}

.text-neutral-500 {
  color: var(--clr-text-500);
}

.text-gredient {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: var(--clr-gredient);
}

.rounded {
  border-radius: var(--radius-400) !important;
}

.rounded-2 {
  border-radius: var(--radius-300) !important;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.img-primary {
  filter: var(--filter-primary);
}

.img-white {
  filter: var(--filter-white);
}

.mode-switch label {
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  border: 1px solid var(--card-border);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.mode-switch label svg {
  position: absolute;
  transition: all 0.4s;
}

.dark-mode .mode-switch label {
  background-color: var(--clr-neutral-700);
}
.dark-mode .mode-switch #moonIcon {
  left: -10px;
  bottom: -20px;
  top: unset;
  right: unset;
}
.dark-mode .mode-switch #sunIcon {
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  right: unset;
}

body:not(.dark-mode) .mode-switch #sunIcon {
  right: -20px;
  top: -20px;
}
body:not(.dark-mode) .mode-switch #moonIcon {
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

button {
  background: transparent;
  border: none;
}

.btn {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.6rem 2rem;
  border-radius: var(--radius-300);
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  box-shadow: none !important;
}
.btn img {
  transition: all 0.3s;
}
.btn:not(:hover) img {
  rotate: -45deg;
}
.btn-primary, .btn-primary:hover {
  background-color: var(--clr-primary-300);
  border-color: var(--clr-primary-300);
}
.btn-primary:focus-within, .btn-primary:focus, .btn-primary:active, .btn-primary:hover:focus-within, .btn-primary:hover:focus, .btn-primary:hover:active {
  background-color: var(--clr-primary-400) !important;
  border-color: var(--clr-primary) !important;
}

.code-btn {
  font-size: 1.6rem;
  color: var(--clr-text-500);
}
.code-btn::before {
  content: "[ ";
}
.code-btn::after {
  content: " ]";
}

.skills-logo__item {
  background-color: var(--skill-logo-bg);
  border: 1px solid var(--card-border);
  height: 6.2rem;
  aspect-ratio: 1;
  border-radius: var(--radius-400);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .skills-logo__item {
    height: 5.2rem;
  }
  .skills-logo img {
    height: 3.2rem;
    aspect-ratio: 1;
  }
}
.dot-list li {
  position: relative;
  padding-left: 2rem;
}
.dot-list li::before {
  content: "";
  height: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: currentColor;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1.1rem;
  flex-shrink: 0;
}

.form-control {
  font-size: 1.4rem;
  padding: 1.6rem 2rem;
  border: 1px solid var(--card-border);
  background-color: var(--card-bg);
  color: var(--clr-text-500) !important;
  border-radius: var(--radius-300);
  box-shadow: none !important;
}
.form-control::-moz-placeholder {
  color: var(--clr-neutral-400);
}
.form-control::placeholder {
  color: var(--clr-neutral-400);
}
.form-control:focus-within {
  border-color: var(--clr-primary-400);
  background-color: var(--card-bg);
}

textarea.form-control {
  min-height: 16rem;
}

.social-list__link {
  transition: 0.3s;
}
.social-list__link:hover {
  color: var(--clr-primary-300);
}

.footer__wrapper {
  border-top: 1px solid var(--card-border);
}

.header {
  isolation: isolate;
  transition: all 0.3s;
  width: 100%;
  position: relative;
  z-index: 99;
}

.nav-list__link {
  color: var(--clr-text-500);
  transition: all 0.3s;
}
.nav-list__link:hover {
  color: var(--clr-primary-300);
}

@media (max-width: 991.98px) {
  .header__collapse {
    position: absolute;
    top: calc(100% + 2rem);
    left: -1px;
    width: calc(100% + 2px);
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    flex-direction: column;
    padding: 3rem;
    transition: all 300ms;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    z-index: -1;
  }
  .header__toggle-btn {
    background: none;
    border: none;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    gap: 0.8rem;
  }
  .header__toggle-line {
    display: inline-block;
    height: 3px;
    width: 2.6rem;
    border-radius: 5rem;
    background-color: var(--clr-text);
    transition: all 300ms;
    transform-origin: center;
  }
  .header--active .header__collapse {
    visibility: visible;
    opacity: 1;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .header--active .header__toggle-line--1 {
    transform: translateY(5px) rotate(45deg);
  }
  .header--active .header__toggle-line--2 {
    transform: translateY(-6px) rotate(-45deg);
  }
}
.card-box {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
}
.card-box--section {
  padding: 4rem 1.6rem;
  border-radius: var(--radius-400);
}

@media (min-width: 768px) {
  .card-box--section {
    padding: 6rem 3rem;
  }
}
@media (max-width: 767.98px) {
  .container {
    --bs-gutter-x: 2rem;
  }
}
.hero p {
  text-wrap: balance;
}
.hero__img-box {
  position: relative;
}
.hero__img-box::after {
  content: "";
  height: 4rem;
  width: 4rem;
  display: inline-block;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  background: url("../img/hero-code.svg") no-repeat center center/contain;
}
.hero__img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50rem;
  border: 1px solid var(--card-border);
}

.stats__no {
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.2;
}

.exp__tab .nav-link {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  color: var(--clr-text-500);
  padding: 1.5rem;
}
.exp__tab .nav-link.active {
  background-color: var(--card-border);
  color: var(--clr-text-500);
}
.exp .dot-list li {
  max-width: 75rem;
}
.exp__tags li {
  padding: 0.6rem 1.2rem;
  border: 1px solid var(--card-border);
  font-size: 1.4rem;
  border-radius: var(--radius-300);
}

.portfolio__title {
  font-size: 2rem;
}
.portfolio__thumb {
  border: 1px solid var(--card-border);
}
.portfolio__info-list {
  font-size: 1.4rem;
  margin-top: 2rem;
}
.portfolio__info-list li {
  border-bottom: 1px solid var(--card-border);
}
.portfolio__info-list li:first-child {
  border-top: 1px solid var(--card-border);
}
.portfolio__info-list li h5 {
  color: var(--clr-text);
}
.portfolio__view-link {
  border-bottom: 1px solid var(--clr-primary);
}
.portfolio__view-link img {
  transition: all 0.3s;
}
.portfolio__view-link:not(:hover) img {
  rotate: -45deg;
}
.portfolio__controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.portfolio__controls .swiper-button-next,
.portfolio__controls .swiper-button-prev {
  position: unset;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  background-color: var(--clr-primary);
  inset: unset;
  transform: none;
  margin: 0;
  position: relative;
}
.portfolio__controls .swiper-button-next::after,
.portfolio__controls .swiper-button-prev::after {
  content: "";
  border: 0;
  height: 1.6rem;
  width: 1.6rem;
  background: url("../img/arrow-right.svg") no-repeat center center/1.6rem;
  filter: var(--filter-white);
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.portfolio__controls .swiper-button-prev::after {
  transform: scaleX(-1);
}
.portfolio .swiper-pagination {
  line-height: 0;
  bottom: 0;
}
.portfolio .swiper-pagination-bullet {
  background-color: var(--clr-primary);
}

.offer__card {
  transition: all 0.3s;
}
.offer__card:hover {
  box-shadow: 0 0 2rem rgba(27, 27, 34, 0.1);
  scale: 1.02;
}
.offer__card:hover img {
  filter: var(--filter-primary);
}

.education__timeline-item {
  padding-left: 1.5rem;
  position: relative;
  display: flex;
  gap: 1.5rem;
}
.education__timeline-item span {
  display: block;
  color: var(--clr-primary);
  margin-bottom: 0.4rem;
  font-family: var(--ff-primary);
  font-size: 1.8rem;
  line-height: 1.3;
}
.education__timeline-item:not(:last-child) {
  padding-bottom: 3rem;
}
.education__timeline-item:not(:last-child) p::before {
  content: "";
  width: 1px;
  height: 100%;
  display: inline-block;
  background-color: var(--card-border);
  left: 0;
  top: 0.5rem;
  position: absolute;
}
.education__timeline-item::before {
  content: attr(data-duration) ":";
  flex-shrink: 0;
  line-height: 1.8;
  font-size: 1.4rem;
}
.education__timeline-item::after {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--clr-text-500);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: -0.35rem;
  top: 0.5rem;
}

.skills__heading {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--clr-secondary-400);
}

.contact__success {
  padding: 2rem;
  background-color: var(--card-border);
  border-radius: var(--radius-400);
}
.contact__item-icon-box {
  height: 6rem;
  width: 6rem;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: var(--radius-400);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__item-heading {
  font-size: 1.4rem;
}

.dark-mode .education span {
  color: var(--clr-neutral-0);
}

@media (min-width: 768px) {
  .stats__no {
    font-size: 5rem;
  }
  .exp__tab .nav-link {
    padding: 2rem 2.4rem;
  }
  .portfolio__title {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .hero__img-box::after {
    height: 8rem;
    width: 8rem;
    right: 2rem;
    bottom: 2rem;
  }
  .skills__content {
    border-left: 1px solid var(--card-border);
  }
  .skills .card-box {
    position: relative;
    overflow: hidden;
  }
  .skills .card-box::after {
    content: "";
    display: inline-block;
    height: 8rem;
    width: 8rem;
    border: 1px solid var(--card-border);
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 0 20px var(--card-bg), 0 0 0 21px var(--card-border), 0 0 0 61px var(--card-bg), 0 0 0 62px var(--card-border);
  }
  .skills .card-box::before {
    content: "";
    display: inline-block;
    height: 8rem;
    width: 8rem;
    border: 1px solid var(--card-border);
    position: absolute;
    right: -5rem;
    top: -3rem;
    border-radius: 50%;
    box-shadow: 0 0 0 20px var(--card-bg), 0 0 0 21px var(--card-border), 0 0 0 61px var(--card-bg), 0 0 0 62px var(--card-border);
  }
  .contact #contactForm {
    min-height: 38rem;
  }
}
@media (max-width: 991.98px) {
  .offer__card img {
    filter: var(--filter-primary);
  }
}/*# sourceMappingURL=main.css.map */