.hero{
    p{
        text-wrap: balance;
    }
    &__img-box{
        position: relative;
        &::after{
            content: '';
            height:4rem;
            width:4rem;
            display: inline-block;
            position: absolute;
            right:0rem;
            bottom: 0rem;
            background: url('../img/hero-code.svg') no-repeat center center / contain;
        }
    }
    &__img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius:50rem;
        border: 1px solid var(--card-border);
    }
}
.stats{
    &__no{
        font-weight: 500;
        font-size: 4rem;
        line-height: 1.2;
    }
}
.exp{
    &__tab{
        .nav-link{
            background-color: var(--card-bg);
            border: 1px solid var(--card-border);
            color: var(--clr-text-500);
            padding: 1.5rem ;
            &.active{
                background-color:var(--card-border);
                color: var(--clr-text-500);
            }
        }
    }
    .dot-list {
        li{
            max-width: 75rem;
        }
    }
    &__tags{
        li{
            padding: 0.6rem 1.2rem;
            border: 1px solid var(--card-border);
            font-size: 1.4rem;
            border-radius: var(--radius-300);
        }
    }
}
.portfolio{
    &__title{
        font-size: 2rem;
    }
    &__thumb{
        border: 1px solid var(--card-border);
    }
    &__info-list{
        font-size: 1.4rem;
        margin-top: 2rem;
        li{
            border-bottom: 1px solid var(--card-border);
            &:first-child{
                border-top: 1px solid var(--card-border);
            }
            h5{
                color: var(--clr-text);
            }
        }
    }
    &__view-link{
        border-bottom: 1px solid var(--clr-primary);
        img{
            transition: all 0.3s;
        }
        &:not(:hover){
            img{
                rotate: -45deg;
            }
        }
    }
    &__controls{
        display: flex;
        align-items: center;
        gap: 1rem;
        .swiper-button-next,
        .swiper-button-prev{
            position: unset;
            height: 4.2rem;
            width: 4.2rem;
            border-radius: 50%;
            background-color: var(--clr-primary);
            inset: unset;
            transform: none;
            margin: 0;
            position: relative;
            &::after{
                content: '';
                border: 0;
                height: 1.6rem;
                width: 1.6rem;
                background: url('../img/arrow-right.svg') no-repeat center center / 1.6rem; 
                filter: var(--filter-white);
                display: inline-block;
                position: absolute;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
            }
        }
        .swiper-button-prev{
            &::after{
                transform: scaleX(-1);
            }
        }
    }
    .swiper-pagination{
        line-height:0;
        bottom: 0;
    }
    .swiper-pagination-bullet{
        background-color: var(--clr-primary);
    }
}
.offer{
    &__card{
        transition: all 0.3s;
        &:hover{
            box-shadow: 0 0 2rem rgba($color: #1b1b22, $alpha: 0.1);
            scale: 1.02;
            img{
                filter: var(--filter-primary);
            }
        }
    }
}
.education{
    &__timeline-item{
        padding-left: 1.5rem;
        position: relative;
        display: flex;
        gap: 1.5rem;
        span{
            display: block;
            color: var(--clr-primary);
            margin-bottom: 0.4rem;
            font-family: var(--ff-primary);
            font-size: 1.8rem;
            line-height: 1.3;
        }
        &:not(:last-child){
            padding-bottom: 3rem;
           p{
            &::before{
                content: '';
                width: 1px;
                height: 100%;
                display: inline-block;
                background-color: var(--card-border);
                left: 0;
                top: 0.5rem;
                position: absolute;
            }
           }
        }
        &::before{
            content: attr(data-duration) ':';
            flex-shrink: 0;
            line-height: 1.8;
            font-size: 1.4rem;
        }
        &::after{
            content: '';
            height: 0.8rem;
            width: 0.8rem;
            background-color: var(--clr-text-500);
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            left: -0.35rem;
            top: 0.5rem;
        }
    }
}
.skills{
    &__heading{
        // text-transform: uppercase;
        font-size: 1.4rem;
        // letter-spacing: 0.1rem;
        font-weight: 600;
        color: var(--clr-secondary-400);
    }
}
.contact{
    &__success{
        padding: 2rem;
        background-color: var(--card-border);
        border-radius: var(--radius-400);
    }
    &__item-icon-box{
        height:6rem;
        width: 6rem;
        background-color: var(--card-bg);
        border: 1px solid var(--card-border);
        border-radius: var(--radius-400);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item-heading{
        font-size: 1.4rem;
    }
}
.dark-mode{
    .education{
        span{
            color: var(--clr-neutral-0);
        }
    }
}
@media(min-width:768px){
    .stats{
        &__no{
            font-size: 5rem;
        }
    }
    .exp{
        &__tab{
            .nav-link{
                padding: 2rem 2.4rem;
            }
        }
    }
    .portfolio{
        &__title{
            font-size: 2.4rem;
        }
    }
    
}
@media(min-width:992px){
    .hero{
        &__img-box{
            &::after{
                height: 8rem; 
                width: 8rem;
                right: 2rem;
                bottom: 2rem;
            }
        }
    }
    .skills{
        &__content{
            border-left: 1px solid var(--card-border);
        }
        .card-box{
            position: relative;
            overflow: hidden;
            &::after{
                content: '';
                display: inline-block;
                height: 8rem;
                width: 8rem;
                border: 1px solid var(--card-border);
                position: absolute;
                bottom: 3rem;
                left: 3rem;
                border-radius: 50%;
                box-shadow: 
                0 0 0 20px var(--card-bg), 
                0 0 0 21px var(--card-border),
                0 0 0 61px var(--card-bg),
                0 0 0 62px var(--card-border);
            }
            &::before{
                content: '';
                display: inline-block;
                height: 8rem;
                width: 8rem;
                border: 1px solid var(--card-border);
                position: absolute;
                right:-5rem;
                top:-3rem;
                border-radius: 50%;
                box-shadow: 
                0 0 0 20px var(--card-bg), 
                0 0 0 21px var(--card-border),
                0 0 0 61px var(--card-bg),
                0 0 0 62px var(--card-border);
            }
        }
    }
    .contact{
        #contactForm{
            min-height: 38rem;
        }
    }
}
@media(max-width:991.98px){
    .offer{
        &__card{
            img{
                filter: var(--filter-primary);
            }
        }
    }
}