.mode-switch{
    label{
        height: 3.4rem;
        width: 3.4rem;
        border-radius: 50%;
        border: 1px solid var(--card-border);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        svg{
            position: absolute;
            transition: all 0.4s;
        }
    }
}
.dark-mode{
    .mode-switch{
        label{
            background-color: var(--clr-neutral-700);
        }
        #moonIcon{
            left: -10px;
            bottom: -20px;
            top: unset;
            right: unset;
        }
        #sunIcon{
            left: 50%;
            top: 50%;
            translate: -50%  -50%;
            right: unset;
        }
    }
}
body:not(.dark-mode){
    .mode-switch{
        #sunIcon{
            // display: none;
            right: -20px;
            top: -20px;
        }
        #moonIcon{
            left: 50%;
            top: 50%;
            translate: -50%  -50%;
        }
    }
}
button{
    background: transparent;
    border: none;
}
.my-btn{
    font-size: 1.6rem;
    color: var(--clr-text-500);
    &::before{
        content: '[ ';
    }
    &::after{
        content: ' ]';
    }
}