.skills-logo{
    &__item{
        background-color: var(--skill-logo-bg);
        border: 1px solid var(--card-border);
        height: 6.2rem;
        aspect-ratio: 1;
        border-radius: var(--radius-400);
        display: flex;
        align-items: center;
        justify-content: center;
        // img{
        //     &:not(:hover){
        //         transition: all 0.3s;
        //         filter: brightness(0) saturate(100%) invert(37%) sepia(5%) saturate(542%) hue-rotate(201deg) brightness(95%) contrast(88%);
        //     }
        // }
    }
}
@media(max-width:767.98px){
    .skills-logo{
        &__item{
            height:5.2rem;
        }
        img{
            height: 3.2rem;
            aspect-ratio: 1;
        }
    }
}