.text-secondary-400{
    color: var(--clr-secondary-400);
}
.text-neutral-800{
    color: var(--clr-text);
}
.text-primary-300{
    color: var(--clr-primary-300);
}
.text-primary-400{
    color: var(--clr-primary);
}
.text-neutral-500{
    color: var(--clr-text-500);
}
.text-gredient{
    color: transparent;
    background-clip: text;
    background-image: var(--clr-gredient);
}
.rounded{
    border-radius: var(--radius-400) !important;
}
.rounded-2{
    border-radius: var(--radius-300) !important;
}
.ff-primary{
    font-family: var(--ff-primary);
}
.ff-secondary{
    font-family: var(--ff-secondary);
}
.img-primary{
    filter:var(--filter-primary);
}
.img-white{
    filter: var(--filter-white);
}