:root{
    --clr-primary-400:#6558b9;

    --clr-neutral-100:#fafafa;
    --clr-neutral-700:#13121A;
    --clr-neutral-800:#090810;

    --ff-primay: "RNS Sanz", sans-serif;

    --radius-400: 1.2rem;

    --aside-width:30rem;
    --aside-offset:3rem;

}   